numpy==1.15.2
gym==0.9.6
pybullet==1.6.3
mnist>=0.2.2
tensorflow==1.8.0
# before install mpi4py install libopenmpi-dev
# sudo apt install libopenmpi-dev
mpi4py==3.0.1
# added
opencv-python
cython
box2d
box2d-py
pillow
scipy==1.1.0
